.swiper {
    width: 100%;
    position: relative;
    transition: height 0.3s ease-in-out;

    .scroll_loop {
        left: 49%;
        bottom: 10%;
        width: 30px;
        animation: auto-scroll-Y 2s ease-in-out infinite;
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: white;
    }
}

@keyframes auto-scroll-Y {
    0% {
        bottom: 15%;
    }

    50% {
        bottom: 10%;
    }

    100% {
        bottom: 15%;
    }
}

/* Media query cho chiều rộng cửa sổ từ 1600px trở lên */
@media (min-width: 1280px) {
    .swiper {
        height: 100vh;
    }
}

/* Media query cho chiều rộng cửa sổ từ 1200px đến 1599px */
@media (min-width: 964px) and (max-width: 1280px) {
    .swiper {
        height: 80vh;
    }
}

/* Media query cho chiều rộng cửa sổ từ 1000px đến 1199px */
@media (min-width: 768px) and (max-width: 964px) {
    .swiper {
        height: 70vh;
    }
}

/* Media query cho chiều rộng cửa sổ từ 800px đến 999px */
@media (min-width: 480px) and (max-width: 768px) {
    .swiper {
        height: 60vh;
    }
}

/* Media query cho chiều rộng cửa sổ từ 480px đến 799px */
@media (min-width: 0px) and (max-width: 480px) {
    .swiper {
        height: 50vh;
    }
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.courses_left {
    transition: all 0.3s ease-in-out;

    &::-webkit-scrollbar {
        width: 16px; // Độ rộng của thanh cuộn dọc
        height: 16px; // Độ cao của thanh cuộn ngang (nếu có)
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1; // Màu nền của thanh cuộn
        border-radius: 10px; // Bo tròn các góc của thanh cuộn
    }

    &::-webkit-scrollbar-thumb {
        background-color: #dc5b28; // Màu của thanh cuộn
        border-radius: 10px; // Bo tròn các góc của thanh cuộn
        border: 4px solid #f1f1f1; // Đường viền tạo khoảng trống
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #dc5b28; // Màu khi di chuột lên
    }

    &::-webkit-scrollbar-thumb:active {
        background-color: #dc5b28; // Màu khi kích hoạt
    }

    &::-webkit-scrollbar-button {
        display: none; // Ẩn mũi tên
    }
}

.courses_img {
    transition: transform 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        transition: transform 0.5s ease-in-out;
    }
}

.about_card {
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    overflow: hidden;

    .about_card_c {
        transition: scale 0.3s ease-in-out;
    }

    &:hover {
        border-color: #003359;
        transition: border-color 0.3s ease-in-out;


        .about_card_c {
            scale: 1.1;
            transition: scale 0.3s ease-in-out;
        }
    }
}

.staff {
    padding: 50px 0px;

    .staff_container {
        position: relative;
        justify-content: center;
        align-items: center;
        border: 2px solid #dd5c29;
        border-radius: 50%;
        margin: 50px auto;
        transition: width 0.3s ease-in-out;
        transition: height 0.3s ease-in-out;


        .staff_list {
            position: absolute;
            border: 3px solid #e2e2e2e2;
            border-radius: 50%;
            overflow: hidden;
            transform: translate(-50%, -50%);
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s ease-in-out;

            .staff_list_img {
                filter: grayscale(1);
                transition: filter 0.3s ease-in-out;
                border: 1px solid #ccc;
                border-radius: 50%;
            }

            &:hover {
                border: 3px solid #dd5c29;

                .staff_list_img {
                    filter: grayscale(0);
                }

                /* Khi hover vào .staff_list, kích hoạt hiệu ứng scale của .staff_card */
                +.staff_card {
                    transform: translate(-50%, -50%) scale(1);
                }
            }
        }

        .staff_card {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: transform 0.3s ease-in-out;

            &.hovered {
                transform: translate(-50%, -50%) scale(1);
            }
        }


        .line1 {
            position: absolute;
            content: 0;
            width: 77%;
            height: 77%;
            border-left: 5px solid #003359;
            border-radius: 50%;
            z-index: -1;
            animation: line1_circle 5s linear infinite;
        }

        .line2 {
            position: absolute;
            content: 0;
            width: 65%;
            height: 65%;
            border-right: 4px solid #020a09;
            border-radius: 50%;
            animation: line2_circle 5s linear infinite;
            z-index: -1;

            overflow: hidden;
        }

        .staff_list:nth-child(1) {
            top: 0%;
            left: 50%;
        }

        .staff_list:nth-child(2) {
            top: 15%;
            left: 15%;
        }

        .staff_list:nth-child(3) {
            top: 15%;
            left: 85%;
        }

        .staff_list:nth-child(4) {
            top: 50%;
            left: 0%;
        }

        .staff_list:nth-child(5) {
            top: 50%;
            left: 100%;
        }

        .staff_list:nth-child(6) {
            top: 85%;
            left: 15%;
        }

        .staff_list:nth-child(7) {
            top: 85%;
            left: 85%;
        }

        .staff_list:nth-child(8) {
            top: 100%;
            left: 50%;
        }
    }
}

.card_small_p {
    position: relative;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        transition: background-color 0.3s ease-in-out;
    }

    &:hover::before {
        background-color: rgba(0, 0, 0, 0.5);
        transition: background-color 0.3s ease-in-out;
    }

    &:hover {
        .card_small_name {
            top: 40%;
            opacity: 1;
            transition: top 0.5s ease-in-out;
        }

        .card_small_certify {
            top: 50%;
            opacity: 1;
            transition: top 0.5s ease-in-out 0.05s;
        }

        .card_small_experience {
            top: 60%;
            opacity: 1;
            transition: top 0.5s ease-in-out 0.1s;
        }

        .card_small_student {
            top: 70%;
            opacity: 1;
            transition: top 0.5s ease-in-out 0.15s;
        }
    }

    .card_small_text {
        text-shadow: 0px 0px 1px white;
    }

    .card_small_name {
        font-weight: 500;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: top 0.5s ease-in-out;
        color: white;
    }

    .card_small_certify {
        font-weight: 500;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: top 0.5s ease-in-out;
        color: white;
    }

    .card_small_experience {
        font-weight: 500;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: top 0.5s ease-in-out;
        color: white;
    }

    .card_small_student {
        font-weight: 500;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: top 0.5s ease-in-out;
        color: white;
    }
}

@keyframes line1_circle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes line2_circle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}